
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700&display=swap'); 
@config "../tailwind.config.js";
@import "tailwindcss";


body {
  	@apply leading-[normal] m-0;
	background-color: #171717;
}
@layer base { *, *::before, *::after { border-width: 0; } }



body {
  overflow-x: hidden;
}



html {
  scroll-behavior: smooth;
}


.data{
    font-size: 35px;
}




.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 26, 14); /* dark green base */
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #22c55e; /* soft green glow */
}

.btn:active {
  transform: scale(0.92);
}

.btn:hover {
  background: linear-gradient(
    270deg,
    rgba(34, 197, 94, 0.7) 0%,  /* green start */
    rgba(110, 231, 183, 0.85) 60% /* green end */
  );
  color: rgb(4, 4, 38);
}





@keyframes greenBorderMove {
  0% {
    border-color: #22c55e;
    box-shadow: 0 0 6px #22c55e;
  }
  50% {
    border-color: #fff;
    box-shadow: 0 0 12px #10b981;
  }
  100% {
    border-color: #22c55e;
    box-shadow: 0 0 6px #22c55e;
  }
}

.animated-green-border {
  border: 2px solid #22c55e;
  animation: greenBorderMove 2s infinite linear;
}




@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --gray-100: rgba(243, 244, 246, 1);
    --gray-200: rgba(229, 231, 235, 1);
}

:root {
    --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
    animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
    animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
    animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
    animation: shimmer 8s infinite;
}

.animate-spin {
    animation: var(--animate-spin);
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes image-glow {
    0% {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
    }

    10% {
        opacity: 0.7;
        animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
    }

    to {
        opacity: 0.4;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes shimmer {
    0%,
    90%,
    to {
        background-position: calc(-100% - var(--shimmer-width)) 0;
    }

    30%,
    60% {
        background-position: calc(100% + var(--shimmer-width)) 0;
    }
}

@keyframes marquee {
    0% {
        transform: translate(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-vertical {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}

